- title "Army List"

%p
  %strong Name:
  = @army_list.name
%p
  %strong Game System:
  = link_to @army_list.game_system.name, @army_list.game_system unless @army_list.game_system.nil?
%p
  %strong Faction:
  = link_to @army_list.faction, factions_path(@army_list.faction) unless @army_list.faction.nil? || @army_list.faction.empty?
%p
  %strong Maximum Point Value:
  = @army_list.points
%p
  %strong User:
  = link_to @army_list.user.display_name, users_path(@army_list.user) unless @army_list.user.nil?
%p
  %strong Tags:
  = @army_list.tags

%p
  = link_to "Edit", edit_army_list_path(@army_list)
  |
  = link_to "Destroy", @army_list, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", army_lists_path
